* {
  box-sizing: border-box;
}
body {
  font-family: 'CaviarDreams', sans-serif;
}
/* For modern browsers */
.clearfix:before,
.clearfix:after {
  display: table;

  content: '';
}
input {
  border-radius: 0;

  -webkit-appearance: none;
}
.clearfix:after {
  clear: both;
}
/* для IE6-7 */
.clearfix {
  zoom: 1;
}
.page {
  max-width: 984px;
  margin: 0 auto;
}
.page__header {
  position: relative;
}
@media (max-width: 984px) {
  .page {
    padding: 0 20px;
  }
}
/* ========================= START HEDER ========================= */
.header {
  width: 100%;
  padding: 27px 0 21px;

  border-bottom: 1px solid #cfcfcf;
}
.header__logo {
  float: left;

  width: 40%;
}
.logo {
}
.logo__link {
}
.logo__img {
  max-width: 100%;
  height: auto;
}
.logo__slogan {
  font-family: Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;

  margin: 7px 0 0 8px;

  color: #9288a7;
}
.header__contact-short {
  float: left;

  width: 24%;
  margin: 13px 0 0;
}
.contact-short {
}
.contact-short__title {
  font-size: 16px;
  font-weight: 700;

  color: #dcdce6;
}
.contact-short__description {
  font-size: 16px;
  font-weight: 700;

  margin: 6px 0 0;

  color: #2e304b;
}
.contact-short__phone {
}
.contact-short__email {
}
.header__form {
  float: left;

  width: 27%;
  margin: 19px 0 0;
}
.sign {
}
.form {
}
.form__inputs {
  float: left;

  width: 55%;
}
.input {
  font-size: 14px;
  font-weight: 400;

  display: block;

  width: 100%;
  height: 26px;
  margin: 0 0 5px;
  padding: 3px 8px;

  color: #000;
  border: 1px solid #eeeef2;
  background-color: #f6f6f8;
}
.input:focus {
  outline: none;
}
.form__control {
  float: left;

  width: 45%;
  padding: 0 0 0 6px;
}
.button {
  font-size: 15px;

  display: block;

  padding: 5px 11px;

  border: 0;
}
.button:focus {
  outline: none;
}
.button_sign {
  color: #fff;
  background: #8d87a3;
}
.button_sign:hover {
  outline: none;
  background: #80779e;
}

.button_sign:active {
  padding: 7px 11px 3px;
}
.link {
  font-size: 14px;
  font-weight: 700;

  display: block;

  margin: 7px 0 0;

  text-decoration: underline;
}
.link:hover {
  text-decoration: none;
}
.link_color_purple {
  color: #8d87a3;
}
.header__about {
  float: left;

  width: 9%;
  margin: 13px 0 0;

  text-align: center;
}
.about {
  display: block;
  float: right;
}
.about:hover {
  text-decoration: none;
}
.about__icon {
  width: 36px;
  height: 36px;
  margin: 0 auto 4px;

  background: url(../img/icon-planet.png) no-repeat;
}
.about__title {
  font-size: 14px;
  font-weight: 700;

  text-decoration: underline;

  color: #f38b00;
}
.about__title:hover {
  text-decoration: none;
}
.sign {
  display: none;

  width: 34px;
  height: 34px;

  cursor: pointer;

  background: url(../img/icon-sign.png) no-repeat;
}

/* start header tablet*/
@media (max-width: 984px) {
  .header__logo {
    width: 50%;
  }
  .logo__slogan {
    font-size: 17px;
  }
  .header__contact-short {
    display: none;
  }
  .header__form {
    width: 35%;
  }
  .header__about {
    width: 15%;
  }
}
/* end header tablet*/

/* start header phone 480*/
@media (max-width: 767px) {
  .header {
    border: 0;
  }
  .header__about {
    display: none;
  }
  .header__form .form {
    display: none;
  }
  .sign {
    display: block;
  }
  .header__logo {
    width: 75%;
  }
  .logo__slogan {
    font-size: 15px;
  }
  .header__form {
    position: relative;

    width: 60px;
    margin: 30px 0 0;
  }
  .header__form .form {
    position: absolute;
    z-index: 1;
    top: 63px;
    right: 14px;

    width: 273px;
    height: 103px;
    padding: 23px 18px;

    background: #dcdce6;
  }
  .header__form .form:before {
    position: absolute;
    top: -26px;
    right: 18px;

    content: '';

    border: 13px solid transparent;
    border-bottom: 13px solid #dcdce6;
  }
  .input {
    border: 1px solid #eeeef2;
    background: #fff;
  }
  .button_sign {
    background: #f38b00;
  }
}
/* end header phone 480*/

/* start header phone 320*/
@media (max-width: 479px) {
  .header {
    margin: 0 0 -53px;

    border: 0;
  }
  .header__about {
    display: none;
  }
  .header__form {
    float: left;

    width: 34px;
    margin: 30px 0 0 67%;
  }
  .header__form .form {
    right: -14px;
  }
  .header__logo {
    width: 100%;
  }
  .logo__slogan {
    font-size: 15px;
  }
}
/* end header phone 320*/
/* ========================= END HEDER ========================= */

/* ========================= START NAV ========================= */
.nav {
  width: 100%;
  height: 80px;
  padding: 28px 0;;
}
.nav__toggle {
  display: none;
  float: left;

  cursor: pointer;
}
.nav__toggle-icon {
  float: right;

  box-sizing: content-box;
  width: 36px;
  height: 3px;
  margin-bottom: 6px;

  border-bottom: 3px solid #dcdce6;
  background-color: #2e304b;
}
.nav__menu {
  float: left;

  width: 70%;;
}
.menu {
  margin: 0 -30px 0 0;
  padding: 0;

  list-style: none;
}
.menu__item {
  position: relative;

  float: left;

  height: 40px;
  margin: 0 4% 0 0;
}
.menu__item_about {
  display: none;
}
.menu__link {
  font-size: 16px;
  font-weight: 700;

  text-decoration: none;
  text-transform: uppercase;

  color: #2e304b;
}
.menu__link:hover {
  color: #f38b00;
}
.dropdown-menu {
  position: absolute;
  z-index: 1;
  top: 38px;

  display: none;

  width: 642px;
  padding: 21px;

  cursor: pointer;

  background-color: #dcdce6;
}
.dropdown-menu:before {
  position: absolute;
  top: -26px;
  left: 24px;

  content: '';

  border: 13px solid transparent;
  border-bottom: 13px solid #dcdce6;
}
.menu__item:hover .dropdown-menu {
  display: block;
}
.dropdown-menu__left {
  float: left;

  width: 50%;
  padding: 0 21px 0 0;

  border-right: 1px solid #c8c8d4;
}
.dropdown-menu__slogan {
  font-size: 16px;
  font-weight: 700;

  text-transform: uppercase;

  color: #bab7c8;
}
.dropdown-menu__list {
  margin: 0;
  padding: 0;

  list-style: none;
}
.dropdown-menu__item {
}
.dropdown-menu__item:before,
.dropdown-menu__item:after {
  display: table;

  content: '';
}
.dropdown-menu__item:after {
  clear: both;
}
.dropdown-menu__link {
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;

  display: table-row;

  height: 71px;

  vertical-align: middle;
  text-decoration: none;

  color: #2e304b;;
}
.dropdown-menu__link:hover {
  color: #f38b00;
}
.dropdown-menu__img {
  display: table-cell;

  margin: 0 20px 0 0;

  text-align: center;
  vertical-align: middle;
}
.dropdown-menu__title {
  line-height: 15px;

  display: table-cell;

  padding: 0 0 0 24px;

  vertical-align: middle;
}
.dropdown-menu__right {
  float: left;

  width: 50%;
  padding: 0 0 0 21px;
}
.nav__search {
  float: right;

  width: 30%;
  margin: -5px 0 0;
}
.form__search {
}
.input-search {
  position: relative;
}
.input-search__control {
  font-size: 14px;
  font-weight: 400;

  width: 100%;
  height: 31px;
  padding: 0 45px 0 12px;

  border: 0;
  background-color: #dcdce6;
}
.input-search__control:focus {
  outline: none;
}
.input-search__button {
  position: absolute;
  top: 0;
  right: 0;

  width: 37px;
  height: 31px;

  border: 0;
  background-color: #8e88a3;
}
.input-search__button:hover {
  background-color: #80779e;
}
.input-search__button:active {
  padding: 2px 0 0;

  outline: 0;
}
.input-search__button:focus {
  outline: 0;
}
.input-search__button i {
  display: block;

  width: 14px;
  height: 14px;
  margin: 0 auto;

  background: url(../img/icon-search.png) no-repeat;
}

/*start nav tablet*/
@media (max-width: 984px) {
  .menu__item {
    margin: 0 2% 0 0;
  }
  .nav__menu {
    width: 75%;
  }
  .nav__search {
    width: 23%;
  }
  .nav__menu {
    width: 77%;
  }
  .dropdown-menu {
    width: 728px;
  }
}
/*end nav tablet*/

/* start nav phone 480*/
@media (max-width: 767px) {
  .nav {
    padding: 0 0 28px;
  }
  .nav__toggle {
    display: block;
    float: right;

    width: 36px;
    margin: 31px 0 0;

    text-align: right;
  }
  .nav__menu {
    position: absolute;
    z-index: 1;
    top: 120px;
    right: 0;

    display: none;

    width: 147px;
    height: auto;
  }
  .nav__menu:before {
    position: absolute;
    top: -26px;
    right: 6px;

    content: '';

    border: 13px solid transparent;
    border-bottom: 13px solid #dcdce6;
  }
  .menu {
    margin: 0 -20px 0 0;
    padding: 22px;

    text-align: right;

    background: #dcdce6;
  }
  .menu__item {
    float: none;
  }
  .nav__search {
    width: 100%;
  }
  .dropdown-menu {
    top: -22px;
    right: 143px;

    width: 313px;

    text-align: left;

    border-right: 1px solid #c8c8d4;
  }
  .dropdown-menu__left {
    float: none;

    width: 100%;
    padding: 0;

    border: 0;
  }
  .dropdown-menu__right {
    float: none;

    width: 100%;
    margin: 10px 0 0;
    padding: 0;
  }
  .dropdown-menu:before {
    content: '';

    border: 0;
  }
  .menu__item_about {
    display: block;
  }
  .menu__item_about .menu__link {
    color: #f38b00;
  }
}
/* end nav phone 480*/

/* start nav phone 320*/
@media (max-width: 479px) {
  .nav {
    float: left;

    width: 60%;
  }
  .nav__menu {
    top: 200px;

    display: none;
  }
  .nav__search {
    float: left;

    width: 100%;
  }
  .nav__toggle {
    margin: 32px 0 0;;
  }
  .dropdown-menu {
    right: 26px;

    width: 265px;
  }
}
/* end nav phone 320*/
/* ========================= END NAV ========================= */

/* ========================= START BANNER ========================= */
.page__banner {
}
.banner {
  position: relative;
}
.banner__img {
  position: absolute;
  z-index: 0;
}
.banner__img img {
  max-width: 100%;
  height: auto;
}
.banner__content {
  position: relative;

  padding: 35px 40px;
}
.banner__content-slogan {
  font-size: 35px;
  font-weight: 400;
  line-height: 34px;

  margin: 0;

  color: #2e304b;
}
.banner__content-text {
  font-size: 18px;
  font-weight: 400;

  color: #2e304b;
}
.button {
}
.banner__content-button {
  font-size: 18px;
  font-weight: 400;

  color: #2e304b;
  border: 1px solid #2e304b;
  background: none;
}
/* start banner phone 480*/
@media (max-width: 767px) {
  .banner {
    display: none;
  }
}
/* end banner phone 480*/

/* ========================= END BANNER ========================= */
