* {
  box-sizing: border-box;
}
body {
  font-family: 'CaviarDreams', sans-serif;
}
/* For modern browsers */
.clearfix:before,
.clearfix:after {
  display: table;

  content: '';
}
.clearfix:after {
  clear: both;
}
/* для IE6-7 */
.clearfix {
  zoom: 1;
}
.page {
  max-width: 984px;
  margin: 0 auto;
}
@media (max-width: 984px) {
  .page {
    padding: 0 20px;
  }
}
/* ========================= START HEDER ========================= */
.header {
  width: 100%;
  padding: 27px 0 21px;

  border-bottom: 1px solid #cfcfcf;
}
.header__logo {
  float: left;

  width: 40%;
}
.logo {
}
.logo__link {
}
.logo__img {
  max-width: 100%;
  height: auto;
}
.logo__slogan {
  font-family: Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;

  margin: 7px 0 0 8px;

  color: #9288a7;
}
.header__contact-short {
  float: left;

  width: 24%;
  margin: 13px 0 0;
}
.contact-short {
}
.contact-short__title {
  font-size: 16px;
  font-weight: 700;

  color: #dcdce6;
}
.contact-short__description {
  font-size: 16px;
  font-weight: 700;

  margin: 6px 0 0;

  color: #2e304b;
}
.contact-short__phone {
}
.contact-short__email {
}
.header__form {
  float: left;

  width: 27%;
  margin: 19px 0 0;
}
.form {
}
.form__inputs {
  float: left;

  width: 55%;
}
.input {
  font-size: 14px;
  font-weight: 400;

  display: block;

  width: 100%;
  height: 26px;
  margin: 0 0 5px;
  padding: 3px 8px;

  color: #000;
  border: 1px solid #eeeef2;
  background-color: #f6f6f8;
}
.input:focus {
  outline: none;
}
.form__control {
  float: left;

  width: 45%;
  padding: 0 0 0 6px;
}
.button {
  font-size: 15px;

  display: block;

  padding: 5px 11px;

  border: 0;
}
.button:focus {
  outline: none;
}
.button_sign {
  color: #fff;
  background: #8d87a3;
}
.button_sign:hover,
.button_sign:active {
  border-right: 2px solid #8d87a3;
  outline: none;
  background: #80779e;
}
.link {
  font-size: 14px;
  font-weight: 700;

  display: block;

  margin: 7px 0 0;

  text-decoration: underline;
}
.link_color_purple {
  color: #8d87a3;
}
.header__about {
  float: left;

  width: 9%;
  margin: 13px 0 0;

  text-align: center;
}
.about {
  display: block;
}
.about__icon {
  width: 36px;
  height: 36px;
  margin: 0 auto 4px;

  background: url(../img/icon-planet.png) no-repeat;
}
.about__title {
  font-size: 14px;
  font-weight: 700;

  text-decoration: underline;

  color: #f38b00;
}

/*start header screen*/
@media (max-width: 984px) {
  .header__logo {
    width: 35%;
  }
  .header__contact-short {
    width: 25%;
  }
  .contact-short__description {
    font-size: 14px;
  }
  .header__form {
    width: 25%;
  }
  .header__about {
    width: 15%;
  }
  .about__title {
    font-size: 12px;
  }
}
/*end header screen*/

/* start header tablet*/
@media (max-width: 768px) {
  .header__logo {
    width: 50%;
  }
  .header__contact-short {
    display: none;
  }
  .header__form {
    width: 35%;
  }
  .header__about {
    width: 15%;
  }
}
/* end header tablet*/
/* ========================= END HEDER ========================= */

/* ========================= START NAV ========================= */
.nav {
  width: 100%;
  height: 80px;
  padding: 28px 0;;
}
.nav__toggle {
  display: none;
}
.nav__toggle-icon {
}
.nav__menu {
  float: left;

  width: 70%;;
}
.menu {
  margin: 0 -30px 0 0;

  list-style: none;
  padding: 0;
}
.menu__item {
  float: left;

  margin: 0 30px 0 0;
}
.menu__link {
  font-size: 16px;
  font-weight: 700;

  text-decoration: none;
  text-transform: uppercase;

  color: #2e304b;
}
.dropdown-menu {
  display: none;
}
.dropdown-menu__left {
}
.dropdown-menu__slogan {
}
.dropdown-menu__list {
}
.dropdown-menu__item {
}
.dropdown-menu__link {
}
.dropdown-menu__img {
}
.dropdown-menu__title {
}
.dropdown-menu__right {
}
.nav__search {
  float: right;

  width: 30%;
  margin: -5px 0 0;
}
.form__search {
}
.input-search {
  position: relative;
}
.input-search__control {
  font-size: 14px;
  font-weight: 400;

  width: 100%;
  height: 31px;
  padding: 0 45px 0 12px;

  border: 0;
  background-color: #dcdce6;
}
.input-search__control:focus {
  outline: none;
}
.input-search__button {
  position: absolute;
  top: 0;
  right: 0;

  width: 37px;
  height: 31px;

  border: 0;
  background-color: #8e88a3;
}
.input-search__button i {
  display: block;

  width: 14px;
  height: 14px;
  margin: 0 auto;

  background: url(../img/icon-search.png) no-repeat;
}
/* ========================= END NAV ========================= */
